@model BibliotecaBDD.Models.Libro

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Registrar Nuevo Libro</h1>

<h4>Libro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Autor" class="control-label">Idioma</label>
                <input asp-for="Autor" class="form-control" />
                <span asp-validation-for="Autor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AñoPublicacion" class="control-label"></label>
                <input asp-for="AñoPublicacion" class="form-control"/>
                <span asp-validation-for="AñoPublicacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdGenero" class="control-label">Género</label>
                <select asp-for="IdGenero" class ="form-control" asp-items="ViewBag.IdGenero"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdAutor" class="control-label">Autor</label>
                <select asp-for="IdAutor" class ="form-control" asp-items="ViewBag.IdAutor"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
